<div class="book-par">
  <img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-L.jpg" alt="" class="book-cover">
  <% if book.is_a?(Book) %>
    <!-- Render details for a regular book -->
    <%= render "books/regular_book", book: book %>
  <% elsif book.is_a?(BooksIndex) %>
    <!-- Render details for a search result -->
    <%= render "books/search_book", book: book %>
  <% end %>
  <%= link_to "READ if You LOG IN)", book_path(book.id), class: "btn-green" %>
</div>
