<div class="flex flex-col justify-between p-6 space-y-8">
  <div class="space-y-2">
    <h2 class="text-3xl font-semibold truncate tracki"><%= book.title %></h2>
    <p class="text-lg italic font-light text-gray-800 dark:text-white overline"><%= book.author %></p>
    <p class="text-xs text-gray-500 dark:text-gray-500 overline">ISBN: <%= book.isbn %></p>
  </div>
</div>
