<div class="w-full">
  <div class="flex items-center justify-between">
    <%= link_to "UPLOAD NEW BOOK", new_book_path, class: "btn-green" %>
  </div>
  <div id="books" class="min-w-full">
      <%= render partial: "books/book", collection: @books %>
  </div>
</div>
