<div class="flex w-full mx-auto md:w-2/3">
  <div class="mx-auto">
    <%= render "books/book", book: @book  %>
    <br>
    <%= link_to "BACK TO BOOKS", books_path, class: "btn-green" %>
    <div class="inline-block ml-2">
  </div>
</div>
